In [94]:
import pandas as pd
import spacy

In [95]:
data = pd.read_csv('spam.csv')

In [96]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [97]:
#So first we will make new column in data to make spame as 1 and ham as 0.
#Logic 1.
data['spam_detector'] = data['Category'].apply(lambda x:1 if x =='spam' else 0)
#'spam_detector' is the new row which is made new

In [98]:
#Logic 2 (Mine) but this  will not work in Pandas this core python logic
def sp(x):
    if x == 'spam':
        return 1
    else:
        return 0

data['spam_detect_AADI'] = data['Category'].apply(sp)

In [99]:
data

,Category,Message,spam_detector,spam_detect_AADI
0,ham,"Go until jurong point, crazy.. Available only ...",0,0
1,ham,Ok lar... Joking wif u oni...,0,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,1,1
3,ham,U dun say so early hor... U c already then say...,0,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",0,0
...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,1,1
5568,ham,Will ü b going to esplanade fr home?,0,0
5569,ham,"Pity, * was in mood for that. So...any other s...",0,0
5570,ham,The guy did some bitching but I acted like i'd...,0,0
5571,ham,Rofl. Its true to its name,0,0